<!-- Index da Home -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Conheça Melhor quem Somos <a asp-area="" asp-controller="Home" asp-action="AboutUs">Acessando Aqui</a></p>
    <p>Para se Cadastrar, <a asp-controller="Clientes" asp-action="Create">Clique Aqui</a>.</p>
    <p>Para Visualizar todos os Clientes, <a asp-controller="Clientes" asp-action="Index">Clique Aqui</a>.</p>
    <p>Verifique a nossa <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade Aqui</a></p>
</div>