<!-- Index da Home -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Para se Cadastrar, <a asp-controller="Clientes" asp-action="Create">Clique Aqui</a>.</p>
    <div class="container">
        &copy; 2024 - IHCATCadClientes -  Verifique a nossa <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
    </div>
</div>