<!-- Index da Home -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="home-title">Bem-Vindo!</h1>
    <p class="home-paragraph">Conheça Melhor quem Somos <a asp-area="" asp-controller="Home" asp-action="AboutUs">Saiba Mais</a></p>
    <p class="home-paragraph">Para Cadastrar um Cliente <a asp-controller="Clientes" asp-action="Create">Clique Aqui</a>.</p>
    <p class="home-paragraph">Para Visualizar Todos os Clientes <a asp-controller="Clientes" asp-action="Index">Acesse Aqui</a>.</p>
    <p class="home-paragraph">Verifique a nossa <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a></p>
</div>
